@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-x-translate-100 {
    animation: animate-x-translate-100 15s linear infinite;
}

@keyframes animate-x-translate-100 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}